[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fastglm"]
	path = fastglm
	url = https://github.com/jaredhuling/fastglm
[submodule "hierSDR"]
	path = hierSDR
	url = https://github.com/jaredhuling/hiersdr
[submodule "independenceWeights"]
	path = independenceWeights
	url = https://github.com/jaredhuling/independenceweights
[submodule "oem"]
	path = oem
	url = https://github.com/jaredhuling/oem
[submodule "personalized"]
	path = personalized
	url = https://github.com/jaredhuling/personalized
[submodule "personalized2part"]
	path = personalized2part
	url = https://github.com/jaredhuling/personalized2part
[submodule "vennLasso"]
	path = vennLasso
	url = https://github.com/jaredhuling/vennlasso
